/********************************
 * Reset
 ********************************/
/* Reset and normalize base and raw html elements */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--background-color);
}
