/********************************
 * VARIABLES
 ********************************/

/* Colors
  ********************************/
  :root {
    --background-color: #ffffff;
    --white: #ffffff;
    --black: #141414;
    --darkGray: #4A4A4A;
    --gray: #808080;
    --lightGray: #CBCBCB;
    --veryLightGray: #F2F2F2;
    --transparentGray: rgba(203, 203, 203, 0.5);
    --yellow: #FAB617;
    --lightYellow: #FEE9B9;
    --green: #82C46C;

    --sliderBackground: #FDDD93;

    /* Font sizes */
    --fs-h1-detail: 36px;
    --fs-h2-detail: 30px;
    /* --fs-h2-list: 18px; */
    /* --fs-h3-detail: 15px; */
    --fs-p-regular: 18px;
    /* --fs-p-resume: 20px; */
    /* --fs-p-transcription: 23px; */
    --fs-p-detail: 16px;
    /* --fs-link: 20px; */
    --fs-btn: 19px;

    /* Common settings */
    --default-padding: 15px;
    --default-border-radius: 10px;

    /* Shadows */
    --shadow-popup: 2.30642e-15px 5px 10px rgba(51, 51, 51, 0.1), inset -2px -6px 10px rgba(0, 0, 0, 0.05), inset 3px 3px 10px rgba(255, 255, 255, 0.3);
    --shadow-btn-inner: 3.42901e-16px 1px 10px rgba(0, 0, 0, 0.05), inset -9.06783e-17px -1.48089px 2.48px rgba(0, 0, 0, 0.06), inset 9.06783e-17px 1.48089px 1.48089px rgba(255, 255, 255, 0.3);
    --shadow-internal: inset 5.76945e-17px 1px 4px rgba(0, 0, 0, 0.08), inset -5.76945e-17px -1px 4px rgba(0, 0, 0, 0.1);
    --shadow-indic: inset -9.06783e-17px -1.48089px 2.48px rgba(0, 0, 0, 0.06), inset 9.06783e-17px 1.48089px 1.48089px rgba(255, 255, 255, 0.3);
  }
