.button {
  font-size: var(--fs-btn);
  background-color: var(--yellow);
  border-radius: var(--default-border-radius);
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  color: var(--white);
  box-shadow: var(--shadow-btn-inner);
}

.button__edit {
}

.poisContainer .button__edit {
  padding: var(--default-padding);
  display: block;
  text-align: center;
}

.button__delete {
}

.button__close {
  width: 30px;
  height: 30px;
  background-color: rgba(203, 203, 203, 0.5);
  border: none;
  border-radius: 100px;
  box-shadow: var(--shadow-internal);
}

.button__modal {
  border: none;
  width: 400px;
}

.poisContainer .button__delete {
  position: absolute;
  top: var(--default-padding);
  right: var(--default-padding);
  border: none;
  background-color: transparent;
  color: white;
  font-size: var(--fs-h2-detail);
}

.button__grayed {
  background-color: var(--gray);
}

.button__add {
  width: 64px;
  height: 64px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button__add i {
  font-size: 48px;
}

.poisContainer .button__add {
  position: fixed;
  bottom: 100px;
}
