.poisContainer > ul {
  padding: 0px;
  margin: 0px;
  width: 70%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.poisContainer > ul > li {
  list-style: none;
  margin: 0px;
  width: calc(100% / 3 - 20px);
  position: relative;
  box-shadow: var(--shadow-popup);
}

.poisContainer img {
  width: 100%;
  max-width: 230px;
  max-height: 174px;
  object-fit: cover;
}

.poiDataContainer .poiTitle {
  font-size: var(--fs-p-regular);
  font-weight: 300;
}

.poiDataContainer .poiStage {
  font-size: var(--fs-p-detail);
  font-weight: 300;
  color: var(--gray);
}

.poiDataContainer .tag:not(:last-child)::after {
    content: " — ";
}

.poiDataContainer .poiTags > *{
  font-size: var(--fs-p-detail);
  font-weight: 300;
  color: var(--gray);
}
