/********************************
 * INDEX
 ********************************/
// We use BEM and ITCSS inspired methodlogies to name our class and structure our folders. Have a look at the [README.md](/README.md) for information about.

@import './settings/reset.css';
@import './settings/variable.css';

@import './elements/headings.css';

// WARNING: this file is temporary and should refactored !!
@import './trumps/trash.css';
