/* Dev styles */
body {
  margin: 0;
}

.preview {
  border: solid black 1px;
  margin: 10px;
}

.languages {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, .5);
  z-index: 5;
}

.lang-btn, .lang-close-btn {
  position: fixed;
  top: 10px;
  z-index: 10;
  left: 10px;
}
